

footer{
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    display: center; /* Utiliza flexbox para alinear los divs horizontalmente */   
    align-items: center;
    text-align: center;

    /* border: 2px solid black;  */
} 



.divColorDerecha{
    position: fixed; /* O absolute, según tus necesidades */
    background-color: #D25B5B;
    padding: 2px;
    width: 50%;
    z-index: 1;
    right: 0;
}
.divColorIzquierda{
    background-color: #D25B5B;
    padding: 2px;
    /* width: 50%; */
}

.color{
    color: #D25B5B;
}
.sinColor{
    color: #6B6B6B;
}

.nav-container{
    position: absolute;
    bottom: 0; 
    width: 100%;
    /* border: 2px solid black;  */
}

.nav-container ul {
    /* border: 2px solid black;  */
    padding: 0;
    margin: 0;
    display: flex;
    
}

.nav-container li {
    margin: 0 170px;
    margin-left: 210px;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido del li */
    /* border: 2px solid black;  */
}



.nav-container img {
    width: 85px; /* Establece el ancho deseado */
    /* border: 2px solid black;  */
    z-index: -1;
}

.nav-container a:hover {
    color: #FFD700; /* Color al pasar el mouse sobre el enlace */
}