<footer>
    
    <div class="nav-container">
        <div class="divColorIzquierda"></div>
        <ul>
            <li>
                <img src="assets/Caleondar.png" width="">

                <a class="sinColor">ACTIVIDADES</a>

            </li>
            <li>
                <img src="assets/Avatar.png" width="">
                
                <a class="color">MONITORES</a>

            </li>
        </ul>   
    </div>
</footer>


<!-- <footer>
    
    <div class="nav-container">
        <div class="divColorIzquierda"></div>
    <ul>
        <li><img src="assets/Caleondar.png" width=""><a class="color">ACTIVIDADES</a></li>
        <li><img src="assets/Avatar.png" width=""><a class="sinColor">MONITORES</a></li>
    </ul>   
    </div>
</footer> -->
