<header>

    <img src="/assets/Pesa.png" width="80"><h1> 4V GYM</h1>

</header>


<!-- <div class="search-container">
    <form action="/buscar" method="get">
        <input type="text" name="q" placeholder="">
        <button type="submit"></button>
    </form>
    <img src="assets/Pesa.png" alt="404">
</div> -->


<!-- <datepicker-inline></datepicker-inline> -->


<!-- 
 <footer>
    
    <div class="nav-container">
        <div class="divColor"></div>
    <ul>
        <li><img src="assets/Caleondar.png" width=""><p class="actividad">ACTIVIDADES</p></li>
        <li><img src="assets/Avatar.png" width=""><p class="monitor">MONITORES</p></li>
    </ul>   
    </div>
</footer>  -->
<datepicker-inline></datepicker-inline>

<app-activities></app-activities>
<app-footers></app-footers>
